* text=auto eol=lf
*.md linguist-detectable=true
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.json linguist-language=JSON
*.yaml linguist-language=YAML
*.yml linguist-language=YAML